### Label Encoder

In [12]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd
from sklearn.datasets import load_iris

In [13]:
data = pd.read_csv("https://raw.githubusercontent.com/mchandak/DS_Repo10/main/Data/iris2.csv")
data

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [14]:
data['Species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: Species, dtype: int64

In [15]:
#Changes does not effect the "data" dataframe
data1=data.copy()

In [16]:
labelencoder = LabelEncoder()
data1['Species'] = labelencoder.fit_transform(data1['Species'])

In [17]:
data1

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [18]:
data1['Species'].value_counts()

0    50
1    50
2    50
Name: Species, dtype: int64

### One Hot Encoder

#### Using sklearn

In [19]:
from sklearn.preprocessing import OneHotEncoder

In [20]:
import pandas as pd

data2 = pd.read_csv("https://raw.githubusercontent.com/mchandak/DS_Repo10/main/Data/Titanic.csv")
data2

     Class  Gender    Age Survived
0      3rd    Male  Child       No
1      3rd    Male  Child       No
2      3rd    Male  Child       No
3      3rd    Male  Child       No
4      3rd    Male  Child       No
...    ...     ...    ...      ...
2196  Crew  Female  Adult      Yes
2197  Crew  Female  Adult      Yes
2198  Crew  Female  Adult      Yes
2199  Crew  Female  Adult      Yes
2200  Crew  Female  Adult      Yes

[2201 rows x 4 columns]

In [21]:
# creating instance of one-hot-encoder
enc = OneHotEncoder()

In [22]:
enc_df = pd.DataFrame(enc.fit_transform(data2[['Gender']]).toarray())
enc_df

        0    1
0     0.0  1.0
1     0.0  1.0
2     0.0  1.0
3     0.0  1.0
4     0.0  1.0
...   ...  ...
2196  1.0  0.0
2197  1.0  0.0
2198  1.0  0.0
2199  1.0  0.0
2200  1.0  0.0

[2201 rows x 2 columns]

In [23]:
# merge with main df 
data_final = data2.iloc[:,0:4].join(enc_df)
data_final

     Class  Gender    Age Survived    0    1
0      3rd    Male  Child       No  0.0  1.0
1      3rd    Male  Child       No  0.0  1.0
2      3rd    Male  Child       No  0.0  1.0
3      3rd    Male  Child       No  0.0  1.0
4      3rd    Male  Child       No  0.0  1.0
...    ...     ...    ...      ...  ...  ...
2196  Crew  Female  Adult      Yes  1.0  0.0
2197  Crew  Female  Adult      Yes  1.0  0.0
2198  Crew  Female  Adult      Yes  1.0  0.0
2199  Crew  Female  Adult      Yes  1.0  0.0
2200  Crew  Female  Adult      Yes  1.0  0.0

[2201 rows x 6 columns]

#### Using Pandas

In [24]:
data_encoded=pd.get_dummies(data2.iloc[:,0:-1])

In [25]:
data_encoded

,Class_1st,Class_2nd,Class_3rd,Class_Crew,Gender_Female,Gender_Male,Age_Adult,Age_Child
0,0,0,1,0,0,1,0,1
1,0,0,1,0,0,1,0,1
2,0,0,1,0,0,1,0,1
3,0,0,1,0,0,1,0,1
4,0,0,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...
2196,0,0,0,1,1,0,1,0
2197,0,0,0,1,1,0,1,0
2198,0,0,0,1,1,0,1,0
2199,0,0,0,1,1,0,1,0
2200,0,0,0,1,1,0,1,0

#### IsolationForest

In [26]:
from sklearn.ensemble import IsolationForest

In [27]:
df = pd.read_csv("https://raw.githubusercontent.com/mchandak/DS_Repo10/main/Data/iris2.csv")
df

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [28]:
data_encoded1=pd.get_dummies(df)
data_encoded1

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0,0,1
146,6.3,2.5,5.0,1.9,0,0,1
147,6.5,3.0,5.2,2.0,0,0,1
148,6.2,3.4,5.4,2.3,0,0,1
149,5.9,3.0,5.1,1.8,0,0,1

In [29]:
# training the model
clf = IsolationForest(random_state=10,contamination=.01)
clf.fit(data_encoded1)

C:\ProgramData\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

IsolationForest(contamination=0.01, random_state=10)

In [30]:
# predictions
y_pred_outliers = clf.predict(data_encoded1)

In [31]:
#-1 for outliers and 1 for inliers.
y_pred_outliers

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1])

In [32]:
## Let us add a new data point which is outlier
data_encoded1.loc[150]=[20,40,30,50,1,0,0]

In [33]:
data_encoded1

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0
...,...,...,...,...,...,...,...
146,6.3,2.5,5.0,1.9,0,0,1
147,6.5,3.0,5.2,2.0,0,0,1
148,6.2,3.4,5.4,2.3,0,0,1
149,5.9,3.0,5.1,1.8,0,0,1
150,20.0,40.0,30.0,50.0,1,0,0

In [37]:
# training the model
clf = IsolationForest(random_state=10,contamination=.01)
clf.fit(data_encoded1)
# predictions
y_pred_outliers = clf.predict(data_encoded1)
y_pred_outliers

C:\ProgramData\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1])

In [38]:
data_encoded1['scores']=clf.decision_function(data_encoded1)
data_encoded1

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica,scores
0,5.1,3.5,1.4,0.2,1,0,0,0.201438
1,4.9,3.0,1.4,0.2,1,0,0,0.183516
2,4.7,3.2,1.3,0.2,1,0,0,0.173272
3,4.6,3.1,1.5,0.2,1,0,0,0.181867
4,5.0,3.6,1.4,0.2,1,0,0,0.198218
...,...,...,...,...,...,...,...,...
146,6.3,2.5,5.0,1.9,0,0,1,0.134374
147,6.5,3.0,5.2,2.0,0,0,1,0.178850
148,6.2,3.4,5.4,2.3,0,0,1,0.122817
149,5.9,3.0,5.1,1.8,0,0,1,0.156061
150,20.0,40.0,30.0,50.0,1,0,0,-0.287729

In [39]:
data_encoded1['anomaly']=clf.predict(data_encoded1.iloc[:,0:7])

In [40]:
data_encoded1

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica,scores,anomaly
0,5.1,3.5,1.4,0.2,1,0,0,0.201438,1
1,4.9,3.0,1.4,0.2,1,0,0,0.183516,1
2,4.7,3.2,1.3,0.2,1,0,0,0.173272,1
3,4.6,3.1,1.5,0.2,1,0,0,0.181867,1
4,5.0,3.6,1.4,0.2,1,0,0,0.198218,1
...,...,...,...,...,...,...,...,...,...
146,6.3,2.5,5.0,1.9,0,0,1,0.134374,1
147,6.5,3.0,5.2,2.0,0,0,1,0.178850,1
148,6.2,3.4,5.4,2.3,0,0,1,0.122817,1
149,5.9,3.0,5.1,1.8,0,0,1,0.156061,1
150,20.0,40.0,30.0,50.0,1,0,0,-0.287729,-1

In [41]:
#Print the outlier data points
data_encoded1[data_encoded1['anomaly']==-1]

,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species_setosa,Species_versicolor,Species_virginica,scores,anomaly
106,4.9,2.5,4.5,1.7,0,0,1,-0.008763,-1
150,20.0,40.0,30.0,50.0,1,0,0,-0.287729,-1

### PPS score

In [42]:
#install the package
#!pip install ppscore

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ppscore in c:\users\manojc\appdata\roaming\python\python310\site-packages (1.3.0)
Requirement already satisfied: scikit-learn<2.0.0,>=0.20.2 in c:\programdata\anaconda3\lib\site-packages (from ppscore) (1.2.1)
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in c:\programdata\anaconda3\lib\site-packages (from ppscore) (1.5.3)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (1.23.5)
Requirement already satisfied: joblib>=1.1.1 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.1.1)
Requirement already satisfied: scipy>=1.3.2 in c:\users\manojc\appdata\roaming\python\python310\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.9.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas<2.0.0,>=1.0.0->ppscore) (1.16.0)

In [43]:
import ppscore as pps

In [44]:
data.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [47]:
#pps.score(df, "feature_column", "target_column")  syntax
pps.score(data1, 'Sepal.Length', 'Petal.Length')

{'x': 'Sepal.Length',
 'y': 'Petal.Length',
 'ppscore': 0.550422595049248,
 'case': 'regression',
 'is_valid_score': True,
 'metric': 'mean absolute error',
 'baseline_score': 1.4886666666666668,
 'model_score': 0.6692708968366863,
 'model': DecisionTreeRegressor()}

In [48]:
#calculate the whole PPS matrix
pps.matrix(data)

,x,y,ppscore,case,is_valid_score,metric,baseline_score,model_score,model
0,Sepal.Length,Sepal.Length,1.000000,predict_itself,True,None,0.000000,1.000000,None
1,Sepal.Length,Sepal.Width,0.000000,regression,True,mean absolute error,0.330667,0.364704,DecisionTreeRegressor()
2,Sepal.Length,Petal.Length,0.550423,regression,True,mean absolute error,1.488667,0.669271,DecisionTreeRegressor()
3,Sepal.Length,Petal.Width,0.431739,regression,True,mean absolute error,0.644667,0.366339,DecisionTreeRegressor()
4,Sepal.Length,Species,0.471649,classification,True,weighted F1,0.353333,0.658333,DecisionTreeClassifier()
5,Sepal.Width,Sepal.Length,0.006966,regression,True,mean absolute error,0.684667,0.679897,DecisionTreeRegressor()
6,Sepal.Width,Sepal.Width,1.000000,predict_itself,True,None,0.000000,1.000000,None
7,Sepal.Width,Petal.Length,0.172375,regression,True,mean absolute error,1.488667,1.232058,DecisionTreeRegressor()
8,Sepal.Width,Petal.Width,0.132858,regression,True,mean absolute error,0.644667,0.559017,DecisionTreeRegressor()
9,Sepal.Width,Species,0.156915,classification,True,weighted F1,0.353333,0.454805,DecisionTreeClassifier()
10,Petal.Length,Sepal.Length,0.525617,regression,True,mean absolute error,0.684667,0.324794,DecisionTreeRegressor()
11,Petal.Length,Sepal.Width,0.052136,regression,True,mean absolute error,0.330667,0.313427,DecisionTreeRegressor()
12,Petal.Length,Petal.Length,1.000000,predict_itself,True,None,0.000000,1.000000,None
13,Petal.Length,Petal.Width,0.744945,regression,True,mean absolute error,0.644667,0.164425,DecisionTreeRegressor()
14,Petal.Length,Species,0.884812,classification,True,weighted F1,0.353333,0.925512,DecisionTreeClassifier()
15,Petal.Width,Sepal.Length,0.383911,regression,True,mean absolute error,0.684667,0.421816,DecisionTreeRegressor()
16,Petal.Width,Sepal.Width,0.254616,regression,True,mean absolute error,0.330667,0.246474,DecisionTreeRegressor()
17,Petal.Width,Petal.Length,0.798274,regression,True,mean absolute error,1.488667,0.300302,DecisionTreeRegressor()
18,Petal.Width,Petal.Width,1.000000,predict_itself,True,None,0.000000,1.000000,None
19,Petal.Width,Species,0.927652,classification,True,weighted F1,0.353333,0.953215,DecisionTreeClassifier()
20,Species,Sepal.Length,0.409634,regression,True,mean absolute error,0.684667,0.404204,DecisionTreeRegressor()
21,Species,Sepal.Width,0.194307,regression,True,mean absolute error,0.330667,0.266416,DecisionTreeRegressor()
22,Species,Petal.Length,0.785393,regression,True,mean absolute error,1.488667,0.319479,DecisionTreeRegressor()
23,Species,Petal.Width,0.755749,regression,True,mean absolute error,0.644667,0.157460,DecisionTreeRegressor()
24,Species,Species,1.000000,predict_itself,True,None,0.000000,1.000000,None